* text=auto eol=lf

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.webp binary
*.gif binary
*.pdf binary
*.zip binary
*.rbxmx binary

# Luau
*.luau text diff=lua linguist-language=Luau

# Rust
*.rs text diff=rust

# TypeScript / JavaScript
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text diff=javascript
*.mjs text diff=javascript
